*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}


body{
  font-family: 'League Spartan', sans-serif;
}
.container{
  width: 750px; 
  
}

.header{
  background-color: #F8F8F8;
  display: flex;
padding: 104px 133px 168px 133px;

}

.top{
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 53px;
}

.title{
  font-weight: 300;
  font-size: 250px;
    line-height: 230px;
    margin-bottom: 43px;
}

.header-text{
  width: 575px;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  margin-bottom: 61px;
}

.button{
display: flex;
gap: 0;
}

.buy{
  width: 278px;
  height: 82px;
  background-color: #161515;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
}

.buy:hover{
  color: crimson;
}

.price{
width: 143px;
  height: 82px;
  background-color: #ffffff;
  color: #161515;
  text-decoration: none;
  font-weight: 300;
  font-size: 32px;
  line-height: 82px;
  text-align: center;
}


.watches{
  align-items: center;
  width: 408px;
  height: 720px;
  left: 0;
}




.main {
  display: flex;
}

.container2{
  width: 1440px;
}

.popular{
  text-align: center;
  margin-top: 43px;
  font-weight: 300;
    font-size: 24px;
    line-height: 45px;
}

.models{
  text-align: center;
  font-weight: 400;
    font-size: 72px;
    line-height: 112.5%;
    margin-bottom: 84px;
}
.font{width: 417px;
  height: 630px;
  background: #F8F8F8;
  text-align: center;
margin-bottom: 67px;
margin-left: auto;
margin-right: auto;

}

.son22{
  padding-top: 110px;
  width: 286px;
    height: 410px;
    align-items: center;
}

.son22-title{
  margin-top: 67;
  text-align: center;
  font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    margin-bottom: 17px;
}

.son22-text{margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 531px;
    height: 194px;
  font-weight: 300;
    font-size: 32px;
    line-height: 50px;
  margin-bottom: 85px;
    
}

.sw12{
  
    padding: 44px 4px 30px 0px;
}

.sw12-title{
  padding-top: 67px;
  text-align: center;
  font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    margin-bottom: 17px;
}

.sw12-text{
  
    font-weight: 300;
      font-size: 32px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 59px;
}

.product-title{
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
    font-size: 32px;
    line-height: 60px;
}

.border{
  margin-top: 9px;
border: 1px solid #707070;
margin-bottom: 49px;
}

.product-text{
  font-weight: 300;
    font-size: 24px;
    line-height: 41px;
    text-align: center; 
}

.text:hover{
  color:#BB8B5D;
}